.sidebar {
  position: absolute;
  width: 10em;
  top: 0;
  left:0;
}

#wiki {
  height: 160px;
  width: auto;
}

.head {
  font-size: 12px;
}

#user {
  width: 12px;
  padding-top: 0;
}

.search-nav {
  text-align: right;
  padding-right: 200px;
}

.search-nav, .page-info {
  font-size: 13px;
    margin-top: 16px;
}

#search {
  display: inline;
  position: absolute;
  top: -3px;
}

.form-control {
  height: 24px;
}

#search-pic {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 2px;
}

.portal {
  margin:0px 9.6px 0px 11.2px;
  padding: 3px 0px;
  padding: 4px;
  font-size: 12px;
}
.side-head-text{
  margin:6px 0px 0px 8px;
  font-size: 12px;
  border-bottom: 1px solid grey;
}
.portal ul {
  list-style: none;
  margin: 0;
  padding: 4.8px 0px 0px;
}

.portal li {
  padding: 1px 0px;
}
.content {
  margin-left: 10em;
}

.nav-item {
  display: inline;
  padding-right: 2px;
  vertical-align: middle;

}

.main {
  text-align: right;
  margin-bottom: -2px;
}

.main-content {
padding: 24px;
border-left: 1px solid lightblue;
border-bottom: 1px solid lightblue;
}

.welcome {
  border: 1px solid lightgray;
}

.welcome-text {
  font-size: 12px;
  text-align: center;
  width: 22em;
}

.welcome-text p {
  line-height: 12px;
}

.portal-types {
  display: inline-flex;
  position: absolute;
  top: 8em;
  right: 10em;
}

.featured .content{
  margin: 0px;
  margin-top: 10px;
}

.bg-info {
  margin: 2px;
  border: 1px solid lightblue;
  font-size: 14px;
}

.bg-success {
  margin: 2px;
  border: 1px solid lightgreen;
  font-size: 14px;
}

.bg-info a, .bg-success a {
  font-weight: bold;
  color: blue;
}

.featured-art-header {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #a1d1a4;
  height: 28px;
  border: 1px solid #749676;
  padding-top: 3px;
  padding-left: 5px;
  clear:both;
}

.bg-success ul{
  float: right;
}

.bg-success li.inline {
  display: inline-flex;
  font-weight: bold;
}
.bg-success .bullet:after {
  content: " \25CF ";
  font-weight: bold;
  padding-left: 3px;
  padding-right: 1px;
}

.mv-right {
  float: right;
  padding-bottom: 10px;
}

#featured-img {
  float: left;
  width: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.featured-news-header {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #9fb2d1;
  height: 28px;
  border: 1px solid #7789a6;
  padding-top: 3px;
  padding-left: 5px;
  clear: both;
}

#news-img{
  float: right;
  width: 250px;
}
